/* universal css are added here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  margin: 80px auto;
}
/* universal css closed here */
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title h3 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
.nav-icons a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}
