/* universal css are added here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  margin: 80px auto;
}
.btn-primary {
  display: inline-flex;
  padding: 10px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: #fff;
  font-weight: 700;
}
/* universal css closed here */
/* nav section starts here */
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title h3 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
.nav-icons a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}
/* nav section close here and influencer section start here */
.influencer-heading {
  display: flex;
  justify-content: space-between;
}
.influencer-description {
  padding: 140px 130px 140px 0;
}
.influencer-description h2 {
  color: #3a3a3a;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 70px;
  width: 580px;
}
.influencer-description p {
  color: #3a3a3a;
  font-weight: 600;
  margin: 16px 0;
  width: 505px;
}

.influencer-img {
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* companies section starts here */
.companies {
  display: flex;
  justify-content: space-around;
}
/* popular collection start here */
.cards-container h2 {
  color: #3a3a3a;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}
.card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.main-img {
  border-radius: 5px;
  width: 100%;
}
.card h3 {
  color: #18191f;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 40px;
}
.card h5 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.card .main-text {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  width: 200px;
  letter-spacing: 0.252px;
}
.see-more {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  border: none;
  margin: 20px 10px 20px auto;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
}
/* feature product section start */
.feature-product {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.feature-product h2 {
  color: #0a0826;
  font-size: 2.3rem;
  font-weight: 700;
}
.feature-product p {
  color: #6c6c6c;
  font-weight: 700;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}
.feature-product button {
  border-radius: 0;
}
/* footer section start here */
footer {
  padding: 50px 0;
  background: #0a0826;
  text-align: center;
}
footer h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
footer p {
  color: #d9dbe1;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 24px;
}
footer i {
  color: #fff;
}
